App.css
body, html, #root, .App {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #31029c;
  color: white;
}
button {
  background-color: #6200ea;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: 3px solid black;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #3700b3;
}
.text{
  border: 3px solid black;
  border-radius: 10%;
  padding: 10px;

}
/* .counter-container {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #ffffff;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-container h1 {
  margin: 0;
  font-size: 4rem; 
}




.count1{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #3700b3;
  border-radius:10%;
  
}
.main{
  margin: 10px;
  background-color: #3700b3;
  border: 5px solid black;
  border-radius:10%;
  box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #ffffff;
}
.I{
  border: 5px solid black;
  border-radius:10%;
  box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #ffffff;
  margin: 50px;
} */
